body {
    background-color: lightblue; 
}

aside {
    width: 40%;
    padding-left: .25rem;
    margin-left: .25rem;
    float: right;
    color: #000000;
}

aside > p {
    margin: 1rem;
}

.fish {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    margin: 0;
    list-style:none;
}

img {
   
    width: 200px;
    height: 150px;
}